/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(136, 64%, 55%);
  --clr-primary-2: hsl(20, 100%, 67%);
  --clr-primary-3: hsl(20, 100%, 77%);
  --clr-primary-4: hsl(20, 100%, 87%);
  /* primary/main color */
  --clr-primary-5: hsl(22, 31%, 52%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(22, 31%, 60%);
  --clr-primary-7: hsl(22, 31%, 67%);
  --clr-primary-8: hsl(20, 31%, 74%);
  --clr-primary-9: hsl(22, 31%, 81%);
  --clr-primary-10: hsl(22, 31%, 88%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #232323;
  --clr-light: #7f7f7f;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1920px;
  --fixed-width: 620px;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/MontRegular.otf");
}

@font-face {
  font-family: "MontBold";
  src: url("/fonts/MontBold.otf");
}

@font-face {
  font-family: "MontSemiBold";
  src: url("/fonts/MontSemiBold.otf");
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Mont", sans-serif;
  font-weight: normal;
  /* src: url(/fonts/Fontfabric\ -\ Mont\ Regular.otf) format(otf); */
  background: var(--clr-grey-10);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  /* letter-spacing: var(--spacing); */
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "MontBold", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1rem;
  color: var(--clr-black);
  line-height: 1.3;
  font-family: "Mont";
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.onlydesktop {
  display: none !important;
}

.onlymobile {
  display: block !important;
}

.greendot {
  color: var(--clr-primary-1);
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-1);
  animation: spinner 0.6s linear infinite;
}

.btn {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-family: "MontSemiBold";
  transition: var(--transition);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}

.btn:hover {
  color: var(--clr-black);
  background: var(--clr-white);
}

.btn-alt {
  /* text-transform: uppercase; */
  background: transparent;
  color: var(--clr-black);
  /* padding: 0.375rem 0.75rem; */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-family: "MontSemiBold";
  transition: var(--transition);
  /* font-size: 0.875rem; */
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border: 1px solid var(--clr-black);
}

.btn-alt:hover {
  background: var(--clr-black);
  color: var(--clr-white);
  border: 1px solid var(--clr-black);
}

.title {
  font-size: 2.2rem;
  /* margin-bottom: 2rem; */
  font-family: "MontBold";
}

.text-center {
  text-align: center;
}

.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}

/* social links */
.social-icons {
  display: flex;
  /* justify-content: center; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 1.5rem; */
}

.social-icon {
  /* font-size: 2.8rem; */
  width: 50px;
  height: 50px;
  color: var(--clr-white);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-white);
}

.space {
  padding: 2rem 0;
}

.pright {
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }

  .title {
    font-size: 3.5rem;
  }

  .onlymobile {
    display: none !important;
  }

  .onlydesktop {
    display: block !important;
  }
  .social-icons {
    display: flex;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* width: 16rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pright {
    padding-right: 100px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 1.75rem;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

video {
  border-radius: 1rem;
}

.widthfull {
  width: 100%;
}
